---
http_interactions:
- request:
    method: post
    uri: https://apis-sandbox.fedex.com/oauth/token
    body:
      encoding: UTF-8
      string: "<CREDENTIALS>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionId": "<TRANSACTION_ID>","errors":[{"code":"BAD.REQUEST.ERROR","message":"Missing
        or duplicate parameters. Please modify your request and try again."}]}'
  recorded_at: Wed, 11 Mar 2026 21:40:52 GMT
recorded_with: VCR 6.4.0
