---
http_interactions:
- request:
    method: post
    uri: https://apis-sandbox.fedex.com/oauth/token
    body:
      encoding: UTF-8
      string: "<CREDENTIALS>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Mode:
      - Sandbox
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"CXS-TP"}'
  recorded_at: Wed, 11 Mar 2026 21:40:51 GMT
recorded_with: VCR 6.4.0
