---
http_interactions:
- request:
    method: post
    uri: https://apis-sandbox.fedex.com/oauth/token
    body:
      encoding: UTF-8
      string: "<CREDENTIALS>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Mode:
      - Sandbox
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"CXS-TP"}'
  recorded_at: Wed, 11 Mar 2026 21:40:50 GMT
- request:
    method: post
    uri: https://apis-sandbox.fedex.com/address/v1/addresses/resolve
    body:
      encoding: UTF-8
      string: "<CREDENTIALS>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Mode:
      - Sandbox
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionId":"<TRANSACTION_ID>","output":{"resolvedAddresses":[{"streetLinesToken":["7372
        PARKRIDGE BLVD","APT 286"],"city":"IRVING","countryCode":"US","classification":"UNKNOWN","ruralRouteHighwayContract":false,"generalDelivery":false,"customerMessages":[{"code":"STANDARDIZED.ADDRESS.NOTFOUND","message":"GENERIC.ERROR"}],"attributes":{"SuiteRequiredButMissing":"false","PostalValidated":"false","InvalidSuiteNumber":"false","ZIP11Match":"false","GeneralDelivery":"false","DPV":"false","DataVintage":"April
        2023","ZIP4Match":"false","CityStateValidated":"false","CountrySupported":"true","ValidlyFormed":"false","Matched":"false","StreetValidated":"false","MissingOrAmbiguousDirectional":"false","Resolved":"false","StreetRangeValidated":"false","AddressType":"NORMALIZED","Inserted":"false","MultipleMatches":"false"}}]}}'
  recorded_at: Wed, 11 Mar 2026 21:40:51 GMT
recorded_with: VCR 6.4.0
