---
http_interactions:
- request:
    method: post
    uri: https://apis-sandbox.fedex.com/oauth/token
    body:
      encoding: UTF-8
      string: "<CREDENTIALS>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Mode:
      - Sandbox
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"CXS-TP"}'
  recorded_at: Mon, 16 Mar 2026 21:23:33 GMT
- request:
    method: post
    uri: https://apis-sandbox.fedex.com/ship/v1/shipments
    body:
      encoding: UTF-8
      string: "<CREDENTIALS>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Mode:
      - Sandbox
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"<REDACTED_RESPONSE_KEY>":"<REDACTED_RESPONSE_BODY>"}'
  recorded_at: Mon, 16 Mar 2026 21:23:35 GMT
recorded_with: VCR 6.4.0
